.formats {

    @media (max-width: 1199px) {
        
    }

    @media (max-width: 991px) {
        &__list{
            justify-content: center;
            justify-items: center;
            margin: 0 auto;
        }
        &__item{
            margin-right: 20px;
            margin-bottom: 20px;
        }
        
    }

    @media (max-width: 767px) {
        
    }

    @media (max-width: 575px) {
        &__item{
            margin: 0;
            margin-bottom: 20px;
        }
    }
}
   