.formats {
    padding: 50px 0;
    &__list {
        // display: grid;
        // grid-template-columns: repeat(4,310px);
        // grid-template-rows: 190px 190px;
        // grid-column-gap: 20px;
        // @media(max-width:1199px){
        //     grid-template-columns: repeat(2,1fr );
        // }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        // flex-basis: 24%;
        width: 311px;
        height: 190px;
        position: relative;
        padding: 30px 20px;
        flex-shrink: 0;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/formats/formatsbg.svg)no-repeat center/contain;
        }
    }

    &__title {
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 15px;
    }
}
.container {

}
