.header {

    @media (max-width: 1199px) {
        // display: none;
        
    }

    @media (max-width: 991px) {
        
    }

    @media (max-width: 767px) {
        .burger{
            display: flex;
        }
        &__nav{
            display: none;
        }
        &__phone{
            display: none;
        }
        
    }

    @media (max-width: 575px) {
        &__logo{
            margin-right: 20px;
        }
        .burger-menu--active{
            width: 100%;
        }
    }
}
   