.form {

    @media (max-width: 991px) {

        &_horisontal {

            .form__item {
                margin-right: 10px;

                &:last-child {margin-right: 0;}
            }

            .form__button {font-size: 16px;}
        }
    }

    @media (max-width: 767px) {
        
        max-width: 70%;
        margin: 0 auto;
        background: url(../img/form/formM.svg) no-repeat center/ contain;

        &_vertical {
            max-width:297px; 
            margin: 0 auto;
        }

        &_horisontal {
            max-width:297px;
            margin:0 auto;

            .form__item {margin: 0;}
        }

        &__items {flex-flow: column;}

        &__text {font-size: 18px;}

        &__input {
            width: 100%;
            font-size: 18px;
        }

        &__footer {font-size: 9px;}
        &__title{
            font-size: 31px;
            text-align: center;
            margin: 0;
            max-width: 100%;
        }
    }
    @media(max-width: 575px){
       max-width: 58%;
        background: url(../img/form/formS.svg) no-repeat center/contain;
        // padding: 100px;
        &__title{
            font-size: 11px;
            // margin-bottom: 30px;
        }
        &__item{
            input{
                height: 40px;
                font-size: 11px;
            }
            
        }
        &__button{
            font-size: 10px;
            // padding: -1px 40px;            
        }
    }
    @media(max-width: 575px){
        max-width: 70%;
        background: url(../img/form/formS.svg) no-repeat center/contain;
        // padding: 100px;
        &__title{
            font-size: 21px;
            // margin-bottom: 30px;
        }
        &__item{
            min-height: 60px;
            input{
                height: 40px;
                font-size: 11px;
            }
            
        }
        &__button{
            font-size: 10px;
            // padding: -1px 40px;            
        }
    }
    @media(max-width:320px){
        max-width: 100%;
        &__title{
            font-size: 14px;
        }
        &__button{
            padding: 10px 30px;
        }
     
    }
}