.speciality {
    padding: 300px 0 100px 0;
    background: url(../img/speciality/specialitybg.svg) no-repeat center top;
    &__title {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 102%;
        padding: 38px 95px;
        margin-bottom: 40px;
        background: url(../img/speciality/specialitytitle.svg) no-repeat ;
    }

    &__list {
        max-width: 80%;
        margin-left: auto;
        margin-bottom: 100px;
    }

    &__item {
        background: linear-gradient(90.37deg, rgba(255, 255, 255, 0.3) -64.63%, rgba(255, 255, 255, 0) 108.14%);
        backdrop-filter: blur(50px);
        /* Note: backdrop-filter has minimal browser support */
        padding: 50px 80px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-column-gap: 70px;
        align-items: center;
        clip-path: polygon(10% 0, 100% 1%, 100% 90%, 90% 100%, 0 100%, 0 11%);

    }

    &__name {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 112%;
        // flex-basis: 30%;
        // margin-right: 50px;
    }

    &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 112%;
        // flex-grow: 1;
    }
}
.container {
}
