/* Defaults */
@import 'common/_responsive';
@import 'form/_responsive';



/* Blocks */


@import 'header/_responsive';
@import 'main/_responsive';
@import 'formats/_responsive';
@import 'games/_responsive';
@import 'learn/_responsive';
@import 'speciality/_responsive';
@import 'program/_responsive';
@import 'diplom/_responsive';
@import 'center/_responsive';
@import 'about/_responsive';
@import 'platform/_responsive';
@import 'consultation/_responsive';
@import 'form-section/_responsive';
@import 'popups/_responsive';
@import 'footer/_responsive';